<p mat-dialog-title>Inserir Nova String</p>
<div mat-dialog-content >   
        <form [formGroup]="cadStringForm" fxLayout="column" fxLayoutGap="10px">        
            <mat-form-field>
                <input matInput required placeholder="Valor" maxlength="100"  formControlName="valor" >
                <mat-error *ngIf="cadStringForm?.controls.peso?.invalid">O
                        campo valor é obrigatório
                </mat-error>
            </mat-form-field>            
        </form>   
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()">Salvar</button> 
</div>
